@font-face {
    font-family: "Moriston";
    src: url("MoristonPersonal_OTF/MoristonPersonal-Black.otf") format("opentype");
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: "Moriston";
    src: url("MoristonPersonal_OTF/MoristonPersonal-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Moriston";
    src: url("MoristonPersonal_OTF/MoristonPersonal-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Moriston";
    src: url("MoristonPersonal_OTF/MoristonPersonal-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Moriston";
    src: url("MoristonPersonal_OTF/MoristonPersonal-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Moriston";
    src: url("MoristonPersonal_OTF/MoristonPersonal-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}